.layout-container {
    width: 100%;
    max-width: 80%;
    display: flex;
    justify-content: center;
    margin-top: clamp(30px, 6vw, 4rem);
    position: relative;
}

.layout {
    margin-top: clamp(50px, 8vw, 4rem);
    width: 100%;
    display: grid;
    gap: 30px;
    column-gap: min(40px, 3%);
    align-content: center;
    align-self: center;
}

.loading,
.error {
    position: fixed;
    padding-top: clamp(10px, 1.4vw, 1.5rem);
    padding-bottom: clamp(10px, 1.4vw, 1.5rem);
    font-size: clamp(12px, 1.4vw, 1.1rem);
    bottom: 0;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--clr-background-primary);
    color: var(--clr-font-primary);
    font-weight: 500;

    animation-duration: .25s;
    animation-name: appear;
}

.error {
    bottom: 50px;
}

@media (min-width: 780px) {
    .layout {
        grid-template-columns: 1fr 1fr;
    }
}

@media (max-width: 780px) {
    .layout-container {
        width: min(500px, 98%);
        max-width: 100%;
    }
}