.character-details-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    animation-duration: .3s;
    animation-name: appear;
}

.character-details-container {
    width: 80%;
    max-width: 650px;
    display: flex;
    border-radius: 20px;
    border: 1px solid var(--clr-border-primary);
    background-color: var(--clr-background-secondary);
    color: var(--clr-font-secondary);
}

.character-details-container img {
    border-radius: 20px 0 0 20px;
    width: clamp(20px, 40vw, 300px);
}

.character-details-body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: clamp(16px, 6vw, 3rem);
    padding: clamp(5px, 4vw, 2rem);
}

.character-details-body span h1 {
    font-size: clamp(20px, 4.5vw, 2rem);
}

.character-details-body span h3 {
    font-size: clamp(14px, 2.5vw, 1.2rem);
}

.character-details-body span p {
    font-size: clamp(10px, 2vw, 1rem);
}

.character-details-body p span {
    font-weight: 700;
}

.back-button {
    border: none;
    margin-top: clamp(12px, 5vw, 60px);
    width: 100px;
    padding: 15px 30px;
    font-size: clamp(11px, 3vw, 16px);
    border-radius: 4px;
    background-color: var(--clr-font-active);
    color: var(--clr-background-primary);
    font-weight: 700;
    display: flex;
    align-items: center;
    justify-content: center;
}

@media (max-width: 651px) {
    .character-details-container {
        width: min(500px, 98%);
        max-width: 100%;
    }
}