.page-not-found-container button {
    border: none;
    margin-top: clamp(12px, 5vw, 30px);
    width: 100%;
    padding: 15px 30px;
    font-size: clamp(11px, 3vw, 16px);
    border-radius: 4px;
    background-color: var(--clr-font-active);
    color: var(--clr-background-primary);
    font-weight: 700;
}

.page-not-found-section {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.page-not-found-container {
    padding: clamp(1rem, 10vw, 4rem);
    width: min(550px, 98%);
    max-width: 100%;
    border-radius: 20px;
    border: 1px solid var(--clr-border-primary);
    background-color: var(--clr-background-secondary);
    color: var(--clr-font-secondary);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: clamp(1rem, 5vw, 1.5rem);
}

.page-not-found-container h1 {
    font-size: clamp(25px, 6vw, 35px);
}

.page-not-found-container h4 {
    font-size: clamp(16px, 3.5vw, 20px);
}

.page-not-found-container p {
    font-size: clamp(12px, 3vw, 16px);
}