.nav-container {
    margin-bottom: clamp(30px, 5vw, 70px);
    padding-top: clamp(12px, 3vw, 44px);
    padding-bottom: clamp(12px, 3vw, 44px);
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 1px 4px 0 rgba(0, 21, 41, 0.12);
    background-image: linear-gradient(to bottom, var(--clr-background-gradient-primary) -32%, var(--clr-background-gradient-secondary) 124%);
}

.nav-container nav {
    width: 100%;
    max-width: 80%;
    display: flex;
    align-items: center;
    justify-content: space-between;

    animation-duration: .5s;
    animation-name: appear;
    animation-fill-mode: forwards;
}

.nav-container img {
    width: clamp(120px, 20vw, 208px);
}

span.right-buttons {
    display: flex;
    gap: 1rem;
}

.theme-button {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.theme-button .moon-icon {
    display: flex;
    align-items: center;
    transition: all .2s;
    margin-right: clamp(6px, 1.2vw, 10px);
    font-size: clamp(12px, 1.5vw, 18px);
    color: var(--clr-slider);
}

.slider-container {
    transition: all .2s;
    border: 1px solid var(--clr-slider);
    width: 40px;
    height: 20px;
    border-radius: 50px;
    display: flex;
    align-items: center;
    padding: 2px;
    cursor: pointer;
}

.theme-button .slider {
    transition: all .2s;
    background: var(--clr-slider);
    width: 14px;
    height: 14px;
    border-radius: 50%;
    transition: .4s;
}

.theme-button .slider-right {
    transform: translateX(20px);
}

@media (max-width: 1000px) {
    .slider-container {
        width: 34px;
        height: 15px;
        border-radius: 50px;
        padding: 2px;
    }

    .theme-button .slider {
        width: 9px;
        height: 9px;
        border-radius: 50%;
    }

    .theme-button .slider-right {
        transform: translateX(19px);
    }
}

@media (max-width: 780px) {
    .nav-container nav {
        width: min(500px, 98%);
        max-width: 100%;
    }

    .slider-container {
        width: 28px;
        height: 14px;
        border-radius: 50px;
        padding: 2px;
    }

    .theme-button .slider {
        width: 8px;
        height: 8px;
        border-radius: 50%;
    }

    .theme-button .slider-right {
        transform: translateX(14px);
    }
}