.login-section {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    animation-duration: .3s;
    animation-name: appear;
}

.form-container {
    padding: clamp(1rem, 10vw, 4rem);
    width: min(550px, 98%);
    max-width: 100%;
    border-radius: 20px;
    border: 1px solid var(--clr-border-primary);
    background-color: var(--clr-background-secondary);
    color: var(--clr-font-secondary);
    display: flex;
    flex-direction: column;
    gap: clamp(1rem, 5vw, 1.5rem);
}

.form-container form {
    display: flex;
    flex-direction: column;
}

.form-container h1 {
    font-size: clamp(25px, 6vw, 35px);
}

.form-container p {
    font-size: clamp(12px, 3vw, 16px);
}

.form-container .form-button {
    background-color: transparent;
    border: none;
    font-weight: 700;
    color: var(--clr-font-primary);
    font-size: clamp(12px, 3vw, 16px);
}

.form-container form button {
    border: none;
    margin-top: clamp(6px, 1.2vw, 8px);
    margin-bottom: clamp(6px, 1.2vw, 8px);
    width: 100%;
    padding: 15px 30px;
    font-size: clamp(11px, 3vw, 16px);
    border-radius: 4px;
    background-color: var(--clr-font-active);
    color: var(--clr-background-primary);
    font-weight: 700;
}